.about img{
    width: 250px;
}
.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.about h2{
    margin-bottom: 15px;
    font-size: 35px;

}
.about p{
    font-size:25px ;
}
/* media */
@media(max-width:1050px){
.about{
    flex-direction: column;
}
.about p{
    margin-bottom: 50px;
}
.about h2{
    margin-top: 20px;
}

}








