.about img{
    width: 250px;
}
.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}
.about h2{
    margin-bottom: 15px;
    font-size: 35px;

}
.about p{
    font-size:25px ;
}
/* media */
@media(max-width:1050px){
.about{
    flex-direction: column;
}
.about p{
    margin-bottom: 50px;
}
.about h2{
    margin-top: 20px;
}

}



@media(max-width:850px){
    .about p{
        font-size: 17px;
        margin-bottom: 5px;
        padding: 0 3px 0 5%;
    }
    .about h2{
        font-size: 20px;
        text-align: center;
    }
    .about img{
        width: 150px ;
        height: 150px;
    }
    .about{
        margin: 70px auto;
    }
    .right img{
        margin: 20px ;
    }
}







