.contact{
    margin: 50px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;

}
.contact-col h3{
    color: blueviolet;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;
    
}
.contact-col label{
    color: black;
}
.contact-col p{
    max-width: 450px;
    font-size: 20px;

}
.contact-col ul{
    margin-top: 10px;
    list-style: none;
}
.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-weight: 700;
    

}
.contact-col-1{
    display: flex;
    align-items: center;
}
.contact form input, .contact textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    border-radius: 30px;
    margin:25px 0;
    resize: none;

}
.socials{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.contact button{
    border: 1px solid black;
    height: 40px;
    justify-content: center;
    background-color: rgb(220, 136, 241);
    margin-left: 75%;
}
h4{
    color: mediumslateblue;
    text-decoration: underline;
}



/* media */
@media(max-width:850px){

.contact{
    display: block;
    margin-top: 0;
    font-size: 14px;
}
.contact-col ul li{
    margin-top: 0;
}
.contact button{
    margin-left: 50%;
}
.contact img{
    width: 15%;
    height: 25px;
}
.contact ul li img{
    width: 40px;
    height: 35px;

}
.socials{
    column-gap: 15px;
}

}

