.board{
    width: 90%;
    height: 100%;
    border: 9px solid mediumpurple;
    margin: 2% ;
    border-radius: 3px 45px;
}
.canvas{
    background-color: rgba(255, 244, 185, 0.753) ;
    width: 90%;
    margin: 2%;
    border-radius: 25px;
}
.controls{
    width: 40%;
    border-radius: 5px 45px 5px 5px;
    margin-left: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.btn{
    background: white;
    color: black;
    padding: 14px 25px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid;
    outline: 0;
  }
  .picture{
    width: 70px;
    height: 100px;
    margin: 0;
  }


