.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    width: 100% ;
    background-color: mediumslateblue;
    height: 100px;

}
.footer-logo{
    width: 300px;

}




/* media */
@media(max-width:1050px){

}
@media(max-width:850px){

.footer-logo{
   display: none;
}
.footer p{
    margin: 7% 0;
    font-size: 12px;
}
.footer{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
}








