
.picker{
    width: 70px;
    height: 100px;
    cursor: pointer;
    border: 0;
}
.learn{
    display: block;
}
.tools{
    width: 40%;
    background-color: rgb(250, 201, 242);
    border-radius: 5px 45px 5px 5px;
    margin-left: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.drawing-board{
    background: url("lettera.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 45px;
    border: 3px solid;
    width: 70%;
    margin-left: 2%;
}


