.resources{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.resources img{
    width: 100%;
    height: 350px;
    border-radius: 15px;
    display: block;
}
.activity{
    flex-basis: 31%;
    position: relative;
}
.quote{
    margin-top: -40px;
    position: absolute;
    height: 400px;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0 , 15 , 152 , 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.quote img{
    min-width: 150px;
    max-width: 250px;
    height: 200px;
}
.quote p{
    font-size: 40px;
    color: white;
}
.quote:hover.quote{
    opacity: 1;
    padding-top: 0;
}

/* media */

@media(max-width:1050px){
 .resources{
    flex-direction: column;
    margin-top: 100px;
 }
 .activity{
    flex-basis: 100%;
    margin-top: 70px ;
 }

}



@media(max-width:850px){
    .resources{
        flex-direction: column;
        margin-top: 30px;
     }
     .resources img{
        width: 210px;
        height: 200px;
     }
}














