.testimonials{
    margin: 50px auto;
    padding: 0 50px;
    position: relative;
    margin-top: 20px;
}
.next{
    position: absolute;
    top: 50%;
    right: 0;
    padding: 15px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.prev{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 15px;
    width: 75px;
    height: 75px;
    cursor: pointer;
}
.list{
    display: flex;
}