.testimonial{
    margin: 50px auto;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 75px auto;
    justify-items: center;
}
.pic{
    width: 245px;
    height: 250px;
    border-top-left-radius: 45px;
    border: 10px solid white;
}

@media(max-width:1070px){
.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;

}
.testimonials{
    margin: 2% auto;
}



}
@media(max-width:850px){
    #card1,#card2,#card3{
        display: none;
    }
    .testimonials{
        margin: 1% auto;
    }

}