.title{
    text-align: center;
    color: rgb(143, 16, 202);
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
    font-size: 2rem;
}

.title h2{
    margin-top: 5px;
    text-transform: none;
}



/* media */
@media(max-width:850px){
    .title p{
        font-size: 28px;
    }
    .title h2{
        font-size: 25px;
        padding: 1% 5%;
    }

}