@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Junge&family=Rosarivo:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "BhuTuka Expanded One", serif;
  font-weight: 700;


}
body{
  background: rgb(255, 255, 255);
}
.container{
  margin-right: 20px;
  margin-left: 20px;
}
.btn{
  background: white;
  color: black;
  padding: 14px 25px;
  font-size: 20px;
  font-weight: 900;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
}